In [27]:

import pandas as pd

produtos = pd.read_csv("produtos.csv")
pedidos = pd.read_csv("pedidos.csv")
clientes = pd.read_csv("clientes.csv")

Visualizando os dados com .head()

In [ ]:
produtos.head()

In [ ]:
pedidos.head()

In [ ]:
clientes.head()

Verificando tipos nulos com .info() e isnull.sum()

In [ ]:
produtos.info()
produtos.isnull().sum()

In [ ]:
pedidos.info()
pedidos.isnull().sum()

In [ ]:
clientes.info()
clientes.isnull().sum()

Obtendo estatisticas descritivas

In [24]:
produtos.describe()

       id_produto        preco
count    10.00000    10.000000
mean    205.50000   974.630000
std       3.02765  1677.374824
min     201.00000    39.900000
25%     203.25000    82.400000
50%     205.50000   164.900000
75%     207.75000   686.725000
max     210.00000  4999.000000

In [25]:
pedidos.describe()

       id_pedido  id_cliente  valor_total
count   10.00000    10.00000     10.00000
mean   105.50000     5.50000    508.14000
std      3.02765     3.02765    364.60488
min    101.00000     1.00000    150.00000
25%    103.25000     3.25000    242.50000
50%    105.50000     5.50000    375.25000
75%    107.75000     7.75000    720.22500
max    110.00000    10.00000   1200.00000

In [26]:
clientes.describe()

       id_cliente      idade
count    10.00000  10.000000
mean      5.50000  33.300000
std       3.02765   6.650814
min       1.00000  25.000000
25%       3.25000  28.250000
50%       5.50000  32.000000
75%       7.75000  37.250000
max      10.00000  45.000000